<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ToDogle</title>
</head>
<div id="wrapper">
  <h1>ToDogle</h1>
    <div class=metanav>
  {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">login</a>
  {% else %}
      <a href="{{ url_for('logout') }}">log out</a>,
  {% endif %}
  <br>
  {% for message in get_flashed_messages(category_filter=["global"]) %}
      <div class=flash>{{ message }}</div>
  {% endfor %}
  </div>
  <div id="content">
    {% block body %}{% endblock %}
  </div>
</div>